


.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
 
 
 
 /*nav styles*/
 
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    padding: 31px 160px;
    margin: 0 auto; 

 }
 nav ul{
    display: flex;
    margin-left: 160PX;
    margin-right: 1218px;
    margin-top: 31px;
    margin-bottom: 31px;
 }

 .nav-title{
    font-weight: 700PX;
    font-size: 32px;
    color: #0E0E0E;
    
 }


 nav ul li {
    list-style: none;
    font-weight: 300px;
    color: #006A50;
    
    
    
    
 }

 .first-bg{
    background-color: #C6E4D6;


 }
 .btn-primary{
    background-color: white;
    font-weight: 600px;
    color: #006A50;
    padding: 24px 160px;
    border-radius: 8px;
    border-color: #006A50;
    font-size: 18px;
    
    margin-left: 942px;
    /*margin-right: 160px;
    text-decoration: none;
    
    
    display: flex;*/
   

 }
 .last-btn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #006A50;
    font-weight: 400px;
    color: #FFFFFF;
    padding: 34px 17px;
    border-radius: 8px;
    font-size: 18px;

 }

 /*.first-bg{
    background-color: 
 }

 /* banner styles*/
 .banner{
    display: flex;
    justify-content: space-between;
    margin: 80px 745.99px 80px 0;
    position: relative;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 117px 60px;
    max-width: 1280px;
    margin: 0 auto;
    
    
    
    
 }
 /*.banner-content{
    max-width: 1280px;
    margin: 0 auto;
    
    
 }*/

 

 .banner-title{
    font-size: 24px;
    font-weight: 500px;
    color: #0E0E0E80;

    
 }
 .banner-description{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
 }

 .banner-first-picture{
    
    position: relative;
    padding: 80px 60px;

 }
 .container{
    margin: 0 auto;
    text-align: left;
    padding: 80px 160px;
    max-width: 1280px;
    
 }
 .section-title{
    font-size: 40px;
    font-weight: bold;
    color: 0E0E0E;
 }

 .vision-of-future .blocks{
    display: flex;
    gap: 24px;
    padding: 120px 97px 30px 30px;
    justify-content: space-between;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 32px;
    
    
 }
 .blocks{
    border-radius: 16px;
    
    padding: 32px;
   
 }
 .blocks img{
    width: 62px;
    margin-bottom: 25px;
 }
 .blocks h2{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
 }
 .blocks p{
    font-size: 16px;
    font-weight: 400px;
    color: #0E0E0E;
 }
 /*blocks styles*/
 .blocks-digi{
    background-color: #eaf2ff;
 }
 .blocks-energy{
    background-color: #C6E4D6;
 }
 .blocks-modern{
    background-color: #F7EBCF ;
 }
/*button style*/
button{
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-blue{
    background-color: #5490F5;
}
.btn-green{
    background-color: #09A15C;
}
.btn-yellow{
    background-color: #FFC239;
}
button:hover{
    opacity: 0.5;
}

/*recent news style*/

.news-section{
    max-width: 1280px;
    border-radius: 24px;
    
    margin-top: 80px;
    margin-right: 160px;
    margin-bottom: 80px;
    margin-left: 160px;
    align-items: center;
    
    
    

}
h2{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
p{
    margin-bottom: 32px;
    color: #393A3A;
    margin-bottom: 32px;
}
.news-card{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 56px 48px 56px 32px;
    background-color: #FFFFFF;
    position: relative;
   
    
    
}
.news-image{
    border-radius: 24px;
    padding: 48px 32px 48px 48px;
    margin-right: 32px;
}

.news-card-2{
    display: flex;
    flex-direction: row-reverse;
}

.news-contents h3 {
    font-size: 32px;
    font-weight: bold;
    color: #393A3A;
    
  }
  
  
.news-details {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 80px;
    color: #393A3A;
  }
  
.btn1 {
    
    background-color: #006A50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
  }
  
.read-more:hover {
    background-color: #004d00;
    
  }

  /*donate styles*/

  .donate{
    max-width: 1280px;
    text-align: center;
    margin: 80px 160px 80px 160px;


  }

  .donate h3{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
  }
  .donate p{
    font-size: 16px;
    font-weight: 400px;
    color: 14px 14px 14px 70px;
    margin-bottom: 32px;

  }
  .taka-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 24px;
    


  }
  .taka-card{
    display: inline-block;
    margin-bottom: 32px;
    padding: 24px;
    border-radius: 16px;
    font-size: 40px;
    font-weight: bold;
    color: 14px 14px 14px 80px;
    text-align: center;
    background-color: 14px 14px 14px 15px;
    gap: 24px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-color: 14px 14px 14px 15px ;
    background-color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    

  }
  .taka-card:hover{
    background-color: #C6E4D6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .taka-input {
    width: 1032px;
    height: 64px;
    padding: 10px;
    margin: 32px 124px 32px 124px;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  .donate-btn{
    width: 151px 56px;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
    

  }
  .donate-btn:hover {
    background-color: #004d00;
  }






